.about-us{
    height: auto;
    width: auto;
    margin: 1rem 4rem;
}
.about-us h1{
    font-size: 3rem;
}
.about-us p {   
    font-size: 1.5rem;
} 
li {
    font-size: 1.18rem;
    margin-left: 57px;
    padding-bottom: 5px;
}
.about-cont {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 12px;
    border-radius: 30px;
    /*background-color: #ebefee ;*/
    margin-bottom: 60px;
}
.about-cont div {
    padding: 1rem;
}
.cont-left {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cont-right{
    width: 40%;
    height: 50vh;
}
.cont-right img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.about1{
    height: 100%;
    width:100%;
}
.incresed{
    height: 400px;
}
.decresed{
margin: 0;
margin-bottom:2rem ;
}